.page-politica-de-privacidade, .page-termos-e-condicoes-gerais-de-uso{
    width: 100%;
    position: relative;
    margin: 10rem 0 0;
    padding: 6rem 0;
    overflow: hidden;
    background-color: #F8F9FA;

    .pages-content{

        .container{
    
            h1{
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 42px;
                line-height: 63px;
                text-align: center;
                color: var(--primary-color);
                margin: 0 auto 4rem;
                width: 70%;

                @media (max-width: $screen-md - 1) {
                    line-height: 45px;
                    width: 100%;
                }
            }

            h2{
                color: var(--secondary-color);
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 45px;
                font-weight: 600;
                margin-top: 4rem;
            }
            
            h3, h4, h5, h6, p, a, ul, li{
                color: var(--secondary-color);
                font-family: "Rubik";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
            }

            p, a, ul, li{
                font-weight: 400;
            }

            a{
                text-decoration: underline;
            }

            ul{
                list-style: initial;
                padding: 0 4rem;
                margin-bottom: 1.6rem;
            }

            p{
                text-align: justify;
            }
        }
    }
}